<%= stylesheet_link_tag 'validation', "data-turbolinks-track" => true %>
<%= javascript_include_tag 'validationJQ', "data-turbolinks-track" => true  %>
<%= stylesheet_link_tag 'show' %>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$("#theForm").validate({ignoreTitle: true});
	});
</script>
<%= render partial: "layouts/top" %>

<% @buttonName = "Create!" %>
<%= render :partial => "form_fields"  %>

<br/>
<%= link_to 'Back to Listing', :action => 'list' %>
<br/>
</div>
