<%= stylesheet_link_tag 'show' %>
<%= render :partial => "layouts/top" %>

<%= form_tag reset_password_request_path do %>

	<fieldset style="border:0px solid;">
		<label for="user_email">Email:</label>
		<%= text_field "user","email", :class=>"formInputText"%><br/>
		<%= submit_tag 'Email Password', :class=>'commit' %>
	</fieldset>
<%end%>