<%= stylesheet_link_tag 'show' %>

<%= render partial: "layouts/top" %>
<%= link_to 'Create New Replicate Value', new_replicate_path %><br/><br/>

<table class=borders>
  <tr>
    <th>#</th>
		<th> # Replicates</th>
  </tr>
<%counter=1%>
<% for rep in @replicates %>
  <tr>
  		<td><%=counter%></td>
  		<%counter+=1%>
			<td style="text-align: left;">
				<%=rep.reps%>
			</td>
  </tr>
<% end %>
</table>
<%= link_to 'Create New Replicate Value', new_replicate_path %><br/>
<br/>
</div>
